@font-face {
  font-family: "Segoe UI";
  src: url("../../assets/fonts/Segoe-UI-Variable-Static-Text.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Segoe UI";
  src: url("../../assets/fonts/Segoe-UI-Variable-Static-Text-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: bold;
}

@font-face {
  font-family: "Segoe UI";
  src: url("../../assets/fonts/Segoe-UI-Variable-Static-Display-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: bold;
}
