@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography";

.response {
  height: 500px;
  width: 800px;
  
  &__container {
    display: flex;
    flex-direction: column;
  }

  &__box {
    height: 100%;
    width: 50%;
    border-radius: 4px;
    border-color: #d1d1d1;
    border-bottom: 1px solid;
    padding: 1rem;
    color: #767676;
    resize: none;

    &:not(:placeholder-shown) {
      color: black;
    }
  }
}

textarea::-webkit-scrollbar {
  width: 8px;
  &::-webkit-scrollbar-track {
    background: #f3f3f3;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background: #c8c8c8;
    border-radius: 10px;
    transition: background 0.3s ease-in-out;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #a6a6a6;
  }

  &::-webkit-scrollbar-thumb:active {
    background: #767676;
  }
}
