@use "../src/styles/partials/globals" as *;
@use "../src/styles/partials/variables" as *;
@use "../src/styles/partials/mixins" as *;

.app {
  background-color: $bg-white;
}

.content-wrapper {
display: flex;
flex-direction: column;
margin: 0 auto;

  @include desktop {
    max-width: 940px;

  }
}

.left-side-container {
  display: flex;
  padding-right: 4rem;
}